frostcfg:
    # Insert your own client ID here
    client_id: ""
    # Define endpoint and parameters
    endpointobs: 'https://frost.met.no/observations/v0.jsonld'
    endpointmeta: 'https://frost.met.no/sources/v0.jsonld'
    elements: 
        - 'soil_temperature'
    fields:
        - 'referenceTime,elementId,SourceId,value,level'
output:
    destdir: '/home/magnusdr/Documents/metwork/permafrost'
    logfile: '/home/magnusdr/Documents/metwork/permafrost/logs/exlog.log'
    abstract: 'Permafrost borehole measurements'
stations:
    'SN97710':
        'name': '<Your station name>'
        'PrincipalInvestigator': 'Magnus Dyrmose Ryseth'
        'PrincipalInvestigatorEmail': 'magnudry@uio.no'
        'PrincipalInvestigatorOrganisation': 'MET Norway'
        'PrincipalInvestigatorOrganisationURL': 'met.no'
        'Project': '<Project generating data>'
        'filename': '<output filename>'
